{% extends 'layout.html.twig' %} {% block content %}
<div class="main-container">
    <h1>{{ cupcake.name }}</h1>
    <div>
        <p>Color 1: {{ cupcake.color1 }}</p>
        <p>Color 2: {{ cupcake.color2 }}</p>
        <p>Color 3: {{ cupcake.color3 }}</p>
    </div>
    <div>
        {% if accessory %}
        <p>Accessory: {{ accessory.name }}</p>
        <img
            src="{{ accessory.url }}"
            alt="{{ accessory.name }} Image"
            width="50"
            height="50"
        />
        {% else %}
        <p>No accessory available</p>
        {% endif %}
    </div>
</div>
{% endblock %}
